extends layout

block content
	div.title
		h1= title
	div.post
		// choose random quote
		- var quote = quotes[Math.floor(Math.random()*quotes.length)];
		div.quote= quote.quote
		div.origin
			div.person= quote.person
			div.source= quote.source