extends layout

block content
	h1.title Erroneous Repetitions
	div.post
		// choose random quote
		- var quote = quotes[Math.floor(Math.random()*quotes.length)];
		div.quote= quote.quote
		div.source
			div.person= quote.person
			div.text= quote.source