doctype html
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='/css/styles.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karla:700|Merriweather:400,400i')
	body
		div.container
			block content
		div.extra
			block extra
	script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
	script(src='/js/scripts.js')