* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: rgb(250,250,250);
	color: rgb(65,65,65);
	font-family: "Merriweather", serif;
	font-size: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Karla", sans-serif;
}

.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 100px auto;
	text-align: center;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4F7178;
}

.title h1 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1em;
	color: #F2DEBD;
}

.post {
	display: grid;
	grid-template-rows: auto 150px;
	background-color: #BF8176;
	color: #fff;
}

.quote {
	width: 65%;
	margin: auto;
	line-height: 1.7;
}

.origin {
	height: 100%;
	display: grid;
	align-content: center;
	background-color: #E4AF8E;
	color: #fff;
}

.source {
	font-style: italic;
}