* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: rgb(250,250,250);
	color: rgb(65,65,65);
	font-family: "Merriweather", serif;
	font-size: 28px;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Karla", sans-serif;
}

.container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 50px auto;
}

.title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1em;
}

.post {
	display: grid;
	grid-template-rows: auto 100px;
	align-items: center;
	text-align: center;
}

.quote {
	width: 60%;
	margin: auto;
}

.text {
	font-style: italic;
}